# Production environment variables
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_APPLICATION_CREDENTIALS=
GEMINI_API_KEY=
GEMINI_MODEL=

GROQ_API_KEY=
OPENROUTER_API_KEY=
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
ALLOWED_ORIGINS=

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=
N8N_WEBHOOK_URL=
# dev inngest
# INNGEST_SIGNING_KEY=

SYSTEM_API_KEY=
SYSTEM_API_ENDPOINT=http://127.0.0.1:8000/api
# SYSTEM_API_KEY=
# SYSTEM_API_ENDPOINT=

HAMSA_API_KEY=

LOG_DIR=logs

VOICE_STT_MODEL=gemini-3.1-flash-lite-preview
TELEGRAM_ERROR_CHAT_ID=

MCP_CRM_BASE_URL=http://127.0.0.1:10000/mcp/
# MCP_CRM_BASE_URL=

###
FRONTEND_URL=http://127.0.0.1:3000
DJANGO_BASE_URL=http://127.0.0.1:8000

JWT_AUDIENCE=
JWT_ISSUER=
